.wrap {
  text-align: center;
}

.img-wrap {
  display: inline-block;
  margin: 2rem;
  border: 1px solid yellow;

  .img {
    display: block;
    margin: 0 auto;
  }

  .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.2rem;
  }
  .btn {
    margin-left: 1rem;
  }
}

.info {
  text-align: left;
}
